{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello! My name is Aayush Soni and this is my blog. I am studying Mechatronics Engineering at the University of Waterloo, where I plan to specialize in Software Engineering or AI.</p>
        <p> I aspire to apply the knowledge I learn to create various apps, platforms, and media to change our world. In fact, this blog you reading, I have created using programming languages (Python, Html, Css, etc.).</p>
        <p> I am very passionate about the Science and Technology industry, thus, my reason for creating this blog. If you have any questions or comments, feel free to head over to the contact page and leave me a message.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}